@font-face {
    font-family: mitr;
    src: url("Mitr-ExtraLight.ttf") format("truetype");
}

body {
    background-image: url("bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.container{
    margin-top: 8em;
    font-family: mitr;
    color: white;
}
  
.form-btn {
    font-family: sans-serif;
    font-size: 16px;
    color: #555555;
    padding: 0 20px;
    height: 50px;
    border-radius: 25px;
    background: -webkit-linear-gradient(bottom, #4b3158,  #1a1d7a);
    position: relative;
    z-index: 1;
    transition: all 0.4s;
}
  
.form-btn::before {
    content: "";
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    background-color: #fff;
    top: 0;
    left: 0;
    opacity: 1;
    transition: all 0.4s;
}
  
.form-btn:hover {
  color: #fff;
}
  
.form-btn:hover:before {
  opacity: 0;
}

#home, #his, #rev{
    visibility: hidden;
    opacity: 0.0;
    position: relative;
}

.main__item svg {
    width: 70px;
    height: 70px;
    stroke: rgb(124, 124, 133);
    stroke-width: 1;
    stroke-linecap: round;
    stroke-linejoin: miter;
    fill: none;
    transition: all 0.3s ease;
    padding: 20px;
}

.main__item svg:hover{
    stroke: #fff;
    cursor: pointer;
}

#underline{
    width: 100%;
    height: 1px;
    background-color: #fff;
    margin: 20px 0px;
}

p {
    text-align: justify;
    font-size: 18px;
}

.navbar{
    background-color: #272727;
    position: -webkit-sticky;
    position: sticky;
    opacity: 0.9;
}

.fa {
    padding: 10px;
    font-size: 100px;
}

  .fa-facebook {
    background: transparent;
    color: white;
  }

  .fa-instagram {
    background: transparent;
    color: white;
  }

  .fa-github {
    background: transparent;
    color: white;
  }

  .skillbar {
	position:relative;
	display:block;
	margin-bottom:15px;
	width:85%;
	background:#eee;
	height:35px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-webkit-transition:0.4s linear;
	-moz-transition:0.4s linear;
	-ms-transition:0.4s linear;
	-o-transition:0.4s linear;
	transition:0.4s linear;
	-webkit-transition-property:width, background-color;
	-moz-transition-property:width, background-color;
	-ms-transition-property:width, background-color;
	-o-transition-property:width, background-color;
	transition-property:width, background-color;
}

.skillbar-title {
	position:absolute;
	top:0;
	left:0;
    width:110px;
	font-weight:bold;
	font-size:13px;
	color:#ffffff;
	background:#6adcfa;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:4px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-title span {
	display:block;
	background:rgba(0, 0, 0, 0.1);
	padding:0 20px;
	height:35px;
	line-height:35px;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:3px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-bar {
	height:35px;
	width:0px;
	background:#6adcfa;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}

.skill-bar-percent {
	position:absolute;
	right:10px;
	top:0;
	font-size:11px;
	height:35px;
	line-height:35px;
	color:#ffffff;
	color:rgba(0, 0, 0, 0.4);
}
